services:
  api:
    build: ./api
    ports:
      - "80:8000"
    command: uvicorn main:app --host 0.0.0.0 --reload
    volumes:
      - ./api:/usr/src/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=db+postgresql://postgres:secret@database:5432/postgres
    depends_on:
      - redis
      - database

  worker:
    build: ./api
    command: celery -A tasks worker --loglevel=info --logfile=logs/celery.log
    volumes:
      - ./api:/usr/src/app
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=db+postgresql://postgres:secret@database:5432/postgres
    depends_on:
      - api
      - redis
      - database

  redis:
    image: redis:latest

  database:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    expose:
      - "5432"
    volumes:
       - postgres-data:/var/lib/postgresql

volumes:
  postgres-data:
